In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

# courier company - invoice

In [2]:
df=pd.read_excel("C:\\Users\\AYUSH SONY\\Desktop\\Data Analysts project\\Courier Company - Invoice.xlsx")

In [3]:
df.head()

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.),Rates,Unnamed: 9,Unnamed: 10
0,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0,90.2,NaN,NaN
1,1091117222194,2001806273,1.00,121003,486886,d,Forward charges,90.2,90.2,NaN,NaN
2,1091117222931,2001806408,2.50,121003,532484,d,Forward charges,224.6,90.2,NaN,NaN
3,1091117223244,2001806458,1.00,121003,143001,b,Forward charges,61.3,61.3,NaN,NaN
4,1091117229345,2001807012,0.15,121003,515591,d,Forward charges,45.4,90.2,NaN,NaN

In [4]:
df.shape

(124, 11)

In [5]:
df['AWB Code'].nunique()

124

In [6]:
df['Order ID'].nunique()

124

In [7]:
df.columns

Index(['AWB Code', 'Order ID', 'Charged Weight', 'Warehouse Pincode',
       'Customer Pincode', 'Zone', 'Type of Shipment', 'Billing Amount (Rs.)',
       'Rates', 'Unnamed: 9', 'Unnamed: 10'],
      dtype='object')

In [9]:
df.drop(columns = ['Unnamed: 9', 'Unnamed: 10'], inplace=True)

In [10]:
df.shape

(124, 9)

In [11]:
df.isnull().sum()

AWB Code                0
Order ID                0
Charged Weight          0
Warehouse Pincode       0
Customer Pincode        0
Zone                    0
Type of Shipment        0
Billing Amount (Rs.)    0
Rates                   0
dtype: int64

# Order Report Data...

In [12]:
df2 = pd.read_excel("C:\\Users\\AYUSH SONY\\Desktop\\Data Analysts project\\Order_report.xlsx")

In [13]:
df2.head()

   ExternOrderNo            SKU  Order Qty
0     2001827036  8904223818706        1.0
1     2001825261  8904223819024        4.0
2     2001823564  8904223819291        2.0
3     2001822466  8904223819468        2.0
4     2001821995  8904223819130        1.0

In [14]:
df2.shape

(124, 3)

In [15]:
df2.rename(columns = {'ExternOrderNo' : 'Order ID'}, inplace = True)

In [16]:
df2.head()

     Order ID            SKU  Order Qty
0  2001827036  8904223818706        1.0
1  2001825261  8904223819024        4.0
2  2001823564  8904223819291        2.0
3  2001822466  8904223819468        2.0
4  2001821995  8904223819130        1.0

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124 entries, 0 to 123
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   AWB Code              124 non-null    int64
 1   Order ID              124 non-null    int64
 2   Charged Weight        124 non-null    float64
 3   Warehouse Pincode     124 non-null    int64
 4   Customer Pincode      124 non-null    int64
 5   Zone                  124 non-null    object
 6   Type of Shipment      124 non-null    object
 7   Billing Amount (Rs.)  124 non-null    float64
 8   Rates                 124 non-null    float64
dtypes: float64(3), int64(4), object(2)
memory usage: 7.8+ KB

In [18]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124 entries, 0 to 123
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Order ID   124 non-null    int64
 1   SKU        124 non-null    int64
 2   Order Qty  124 non-null    float64
dtypes: float64(1), int64(2)
memory usage: 3.0 KB

In [19]:
data = pd.merge(df, df2, left_on = 'Order ID', right_on = 'Order ID', how = 'inner')

In [20]:
data.head()

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.),Rates,SKU,Order Qty
0,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0,90.2,8904223818645,6.0
1,1091117222194,2001806273,1.00,121003,486886,d,Forward charges,90.2,90.2,8904223819017,1.0
2,1091117222931,2001806408,2.50,121003,532484,d,Forward charges,224.6,90.2,8904223819437,2.0
3,1091117223244,2001806458,1.00,121003,143001,b,Forward charges,61.3,61.3,8904223819284,1.0
4,1091117229345,2001807012,0.15,121003,515591,d,Forward charges,45.4,90.2,8904223819468,1.0

In [21]:
data.shape

(124, 11)

In [22]:
data

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.),Rates,SKU,Order Qty
0,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0,90.2,8904223818645,6.0
1,1091117222194,2001806273,1.00,121003,486886,d,Forward charges,90.2,90.2,8904223819017,1.0
2,1091117222931,2001806408,2.50,121003,532484,d,Forward charges,224.6,90.2,8904223819437,2.0
3,1091117223244,2001806458,1.00,121003,143001,b,Forward charges,61.3,61.3,8904223819284,1.0
4,1091117229345,2001807012,0.15,121003,515591,d,Forward charges,45.4,90.2,8904223819468,1.0
...,...,...,...,...,...,...,...,...,...,...,...
119,1091118551656,2001812941,0.73,121003,325207,d,Forward charges,90.2,90.2,8904223818706,1.0
120,1091117614452,2001809383,0.50,121003,303702,d,Forward and RTO charges,86.7,86.1,8904223818706,1.0
121,1091120922803,2001820978,0.50,121003,313301,d,Forward charges,45.4,90.2,8904223815859,1.0
122,1091121844806,2001811475,0.50,121003,173212,b,Forward charges,33.0,61.3,8904223818706,1.0
123,1091121846136,2001811305,0.50,121003,302020,d,Forward charges,45.4,90.2,8904223816214,1.0

In [23]:
data.isnull().sum()

AWB Code                0
Order ID                0
Charged Weight          0
Warehouse Pincode       0
Customer Pincode        0
Zone                    0
Type of Shipment        0
Billing Amount (Rs.)    0
Rates                   0
SKU                     0
Order Qty               0
dtype: int64

In [24]:
data.columns

Index(['AWB Code', 'Order ID', 'Charged Weight', 'Warehouse Pincode',
       'Customer Pincode', 'Zone', 'Type of Shipment', 'Billing Amount (Rs.)',
       'Rates', 'SKU', 'Order Qty'],
      dtype='object')

In [25]:
data['Order ID'].nunique()

124

In [26]:
data['AWB Code'].nunique()

124

In [27]:
data['Charged Weight'].nunique()

54

In [28]:
data.nunique()

AWB Code                124
Order ID                124
Charged Weight           54
Warehouse Pincode         1
Customer Pincode        108
Zone                      3
Type of Shipment          2
Billing Amount (Rs.)     20
Rates                     5
SKU                      33
Order Qty                 4
dtype: int64

In [29]:
data.head()

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.),Rates,SKU,Order Qty
0,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0,90.2,8904223818645,6.0
1,1091117222194,2001806273,1.00,121003,486886,d,Forward charges,90.2,90.2,8904223819017,1.0
2,1091117222931,2001806408,2.50,121003,532484,d,Forward charges,224.6,90.2,8904223819437,2.0
3,1091117223244,2001806458,1.00,121003,143001,b,Forward charges,61.3,61.3,8904223819284,1.0
4,1091117229345,2001807012,0.15,121003,515591,d,Forward charges,45.4,90.2,8904223819468,1.0

# Company X - SHU Master Data...

In [30]:
df3 = pd.read_excel("C:\\Users\\AYUSH SONY\\Desktop\\Data Analysts project\\Company X - SKU Master.xlsx")

In [31]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   SKU         66 non-null     object
 1   Weight (g)  66 non-null     int64
dtypes: int64(1), object(1)
memory usage: 856.0+ bytes

In [32]:
df3.shape

(66, 2)

In [33]:
data = pd.merge(data, df3, left_on = 'SKU', right_on = 'SKU', how = 'inner')

In [34]:
data.shape

(124, 12)

In [35]:
data.head()

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.),Rates,SKU,Order Qty,Weight (g)
0,1091117222124,2001806232,1.3,121003,507101,d,Forward charges,135.0,90.2,8904223818645,6.0,137
1,1091117222194,2001806273,1.0,121003,486886,d,Forward charges,90.2,90.2,8904223819017,1.0,115
2,1091117222931,2001806408,2.5,121003,532484,d,Forward charges,224.6,90.2,8904223819437,2.0,552
3,1091117223244,2001806458,1.0,121003,143001,b,Forward charges,61.3,61.3,8904223819284,1.0,350
4,1091117795531,2001809794,1.5,121003,580007,d,Forward charges,135.0,90.2,8904223819284,1.0,350

In [36]:
data.nunique()

AWB Code                124
Order ID                124
Charged Weight           54
Warehouse Pincode         1
Customer Pincode        108
Zone                      3
Type of Shipment          2
Billing Amount (Rs.)     20
Rates                     5
SKU                      33
Order Qty                 4
Weight (g)               18
dtype: int64

# Courier Company - Rates...

In [37]:
df4 = pd.read_excel("C:\\Users\\AYUSH SONY\\Desktop\\Data Analysts project\\Courier Company - Rates.xlsx")

In [38]:
df4.head()

            Company  Rates
0       fwd_a_fixed   29.5
1  fwd_a_additional   23.6
2       fwd_b_fixed   33.0
3  fwd_b_additional   28.3
4       fwd_c_fixed   40.1

In [39]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Company  20 non-null     object
 1   Rates    20 non-null     float64
dtypes: float64(1), object(1)
memory usage: 304.0+ bytes

In [40]:
df4.nunique()

Company    20
Rates      15
dtype: int64

In [41]:
data.shape

(124, 12)

In [42]:
data[data['Order ID'] == 2001806232]['Order Qty']

0    6.0
Name: Order Qty, dtype: float64

In [43]:
data[data['Order ID'] == 2001806232]['SKU']

0    8904223818645
Name: SKU, dtype: object

In [44]:
data[data['Order ID'] == 2001806232]['Weight (g)']

0    137
Name: Weight (g), dtype: int64

In [45]:
data.columns

Index(['AWB Code', 'Order ID', 'Charged Weight', 'Warehouse Pincode',
       'Customer Pincode', 'Zone', 'Type of Shipment', 'Billing Amount (Rs.)',
       'Rates', 'SKU', 'Order Qty', 'Weight (g)'],
      dtype='object')

In [46]:
target = data[['AWB Code', 'Order ID']]

In [47]:
target['Total weight as per X (KG)'] = data['Charged Weight']

In [48]:
target

          AWB Code    Order ID  Total weight as per X (KG)
0    1091117222124  2001806232                        1.30
1    1091117222194  2001806273                        1.00
2    1091117222931  2001806408                        2.50
3    1091117223244  2001806458                        1.00
4    1091117795531  2001809794                        1.50
..             ...         ...                         ...
119  1091121183730  2001821995                        0.50
120  1091117227116  2001806768                        1.02
121  1091117324346  2001807328                        2.28
122  1091117437864  2001808832                        2.47
123  1091117958163  2001811306                        1.10

[124 rows x 3 columns]

In [49]:
import math as m

In [50]:
m.floor(2.3)

2

In [51]:
x = []

In [52]:
data['Charged Weight']

0      1.30
1      1.00
2      2.50
3      1.00
4      1.50
       ...
119    0.50
120    1.02
121    2.28
122    2.47
123    1.10
Name: Charged Weight, Length: 124, dtype: float64

In [53]:
for i in data['Charged Weight']:
    b = m.floor(i)
    c = i - b
    if c > 0.0 and c <= 0.4:
        x.append(b+0.5)
    elif c > 0.4 and c < 1.0:
        x.append(b+1)
    else:
        x.append(b)

In [54]:
a=pd.DataFrame(x, columns = ['A'])

In [55]:
a

       A
0    1.5
1    1.0
2    3.0
3    1.0
4    2.0
..   ...
119  1.0
120  1.5
121  2.5
122  3.0
123  1.5

[124 rows x 1 columns]

In [56]:
target['Weight slab as per X (KG)'] = a['A']

In [57]:
target

,AWB Code,Order ID,Total weight as per X (KG),Weight slab as per X (KG)
0,1091117222124,2001806232,1.30,1.5
1,1091117222194,2001806273,1.00,1.0
2,1091117222931,2001806408,2.50,3.0
3,1091117223244,2001806458,1.00,1.0
4,1091117795531,2001809794,1.50,2.0
...,...,...,...,...
119,1091121183730,2001821995,0.50,1.0
120,1091117227116,2001806768,1.02,1.5
121,1091117324346,2001807328,2.28,2.5
122,1091117437864,2001808832,2.47,3.0
123,1091117958163,2001811306,1.10,1.5

In [58]:
target['Delivery Zone as per X'] = data['Zone']

In [59]:
target

,AWB Code,Order ID,Total weight as per X (KG),Weight slab as per X (KG),Delivery Zone as per X
0,1091117222124,2001806232,1.30,1.5,d
1,1091117222194,2001806273,1.00,1.0,d
2,1091117222931,2001806408,2.50,3.0,d
3,1091117223244,2001806458,1.00,1.0,b
4,1091117795531,2001809794,1.50,2.0,d
...,...,...,...,...,...
119,1091121183730,2001821995,0.50,1.0,d
120,1091117227116,2001806768,1.02,1.5,d
121,1091117324346,2001807328,2.28,2.5,d
122,1091117437864,2001808832,2.47,3.0,d
123,1091117958163,2001811306,1.10,1.5,d

In [60]:
target['Delivery Zone charged by Courier Company'] = data['Zone']

In [61]:
target

,AWB Code,Order ID,Total weight as per X (KG),Weight slab as per X (KG),Delivery Zone as per X,Delivery Zone charged by Courier Company
0,1091117222124,2001806232,1.30,1.5,d,d
1,1091117222194,2001806273,1.00,1.0,d,d
2,1091117222931,2001806408,2.50,3.0,d,d
3,1091117223244,2001806458,1.00,1.0,b,b
4,1091117795531,2001809794,1.50,2.0,d,d
...,...,...,...,...,...,...
119,1091121183730,2001821995,0.50,1.0,d,d
120,1091117227116,2001806768,1.02,1.5,d,d
121,1091117324346,2001807328,2.28,2.5,d,d
122,1091117437864,2001808832,2.47,3.0,d,d
123,1091117958163,2001811306,1.10,1.5,d,d

In [70]:
target['Expected Charge as per X (Rs.)'] = data['Billing Amount (Rs.)']

In [71]:
target

,AWB Code,Order ID,Total weight as per X (KG),Weight slab as per X (KG),Delivery Zone as per X,Delivery Zone charged by Courier Company,Charges Billed by Courier Company (Rs.),Expected Charge as per X (Rs.)
0,1091117222124,2001806232,1.30,1.5,d,d,135.3,135.0
1,1091117222194,2001806273,1.00,1.0,d,d,90.2,90.2
2,1091117222931,2001806408,2.50,3.0,d,d,270.6,224.6
3,1091117223244,2001806458,1.00,1.0,b,b,61.3,61.3
4,1091117795531,2001809794,1.50,2.0,d,d,180.4,135.0
...,...,...,...,...,...,...,...,...
119,1091121183730,2001821995,0.50,1.0,d,d,90.2,45.4
120,1091117227116,2001806768,1.02,1.5,d,d,135.3,135.0
121,1091117324346,2001807328,2.28,2.5,d,d,225.5,224.6
122,1091117437864,2001808832,2.47,3.0,d,d,270.6,224.6
123,1091117958163,2001811306,1.10,1.5,d,d,135.3,135.0

In [72]:
target['Charges Billed by Courier Company (Rs.)'] = data['Rates'] * target['Weight slab as per X (KG)']

In [73]:
target['Charges Billed by Courier Company (Rs.)']

0      135.3
1       90.2
2      270.6
3       61.3
4      180.4
       ...
119     90.2
120    135.3
121    225.5
122    270.6
123    135.3
Name: Charges Billed by Courier Company (Rs.), Length: 124, dtype: float64

In [74]:
target['Difference Between Expected Charges and Billed Charges (Rs.)'] = target['Expected Charge as per X (Rs.)'] - target['Charges Billed by Courier Company (Rs.)']

# Final Output Table...

In [75]:
target

,AWB Code,Order ID,Total weight as per X (KG),Weight slab as per X (KG),Delivery Zone as per X,Delivery Zone charged by Courier Company,Charges Billed by Courier Company (Rs.),Expected Charge as per X (Rs.),Difference Between Expected Charges and Billed Charges (Rs.)
0,1091117222124,2001806232,1.30,1.5,d,d,135.3,135.0,-0.3
1,1091117222194,2001806273,1.00,1.0,d,d,90.2,90.2,0.0
2,1091117222931,2001806408,2.50,3.0,d,d,270.6,224.6,-46.0
3,1091117223244,2001806458,1.00,1.0,b,b,61.3,61.3,0.0
4,1091117795531,2001809794,1.50,2.0,d,d,180.4,135.0,-45.4
...,...,...,...,...,...,...,...,...,...
119,1091121183730,2001821995,0.50,1.0,d,d,90.2,45.4,-44.8
120,1091117227116,2001806768,1.02,1.5,d,d,135.3,135.0,-0.3
121,1091117324346,2001807328,2.28,2.5,d,d,225.5,224.6,-0.9
122,1091117437864,2001808832,2.47,3.0,d,d,270.6,224.6,-46.0
123,1091117958163,2001811306,1.10,1.5,d,d,135.3,135.0,-0.3

# Total orders where X has been correctly charged...

In [80]:
target[target['Difference Between Expected Charges and Billed Charges (Rs.)'] == 0.0]['Difference Between Expected Charges and Billed Charges (Rs.)'].count()

58

In [82]:
target[target['Difference Between Expected Charges and Billed Charges (Rs.)'] == 0.0]['Charges Billed by Courier Company (Rs.)'].sum()

4942.599999999999

# Total Orders where X has been overcharged....

In [83]:
target[target['Difference Between Expected Charges and Billed Charges (Rs.)'] < 0.0]['Difference Between Expected Charges and Billed Charges (Rs.)'].count()

41

In [84]:
target[target['Difference Between Expected Charges and Billed Charges (Rs.)'] < 0.0]['Difference Between Expected Charges and Billed Charges (Rs.)'].sum()

-588.7500000000002

# Total Orders where X has been undercharged....

In [85]:
target[target['Difference Between Expected Charges and Billed Charges (Rs.)'] > 0.0]['Difference Between Expected Charges and Billed Charges (Rs.)'].count()

25

In [86]:
target[target['Difference Between Expected Charges and Billed Charges (Rs.)'] > 0.0]['Difference Between Expected Charges and Billed Charges (Rs.)'].sum()

1208.6000000000001

# Save the Dataframe into the system...

In [87]:
target.to_excel("C:\\Users\\AYUSH SONY\\Desktop\\Data Analysts project\\Solution.xlsx", sheet_name = 'calculation')